{% extends 'base.article.html.twig' %}

{% block title %}Hello AjoutArticle!{% endblock %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



{% block container %}
<div class="example-wrapper">
 <h2>remplir le formulaire s'il vous plait</h2>
{{ form_start(form) }}
<div class="col-md-6">

<div class="form-group">
<label for="exampleFormControlInput1">Titre</label>
{{ form_widget(form.titre)}}
</div>
 <div class="form-group">
    <label for="exampleFormControlTextarea1">Contenu</label>
    {{ form_widget(form.contenu|raw)}}
  </div>
</div>

 <div class="form-group">
    <label for="exampleFormControlTextarea1">Les catégories disponibles</label>
    {{ form_widget(form.categorie)}}
  </div>

   <div class="form-group">
    <label for="exampleFormControlTextarea1">Mettez l'Url de votre image ici</label>
    <br>
    {{ form_widget(form.image)}}
  </div>  
    <button class="btn btn-primary mt-2">Validation</button>

</div>

 
{{ form_end(form) }}
</div>
{% endblock %}


{% endblock %}
