{% extends 'base.article.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <section class="fdb-block" style="background-image: url(imgs/shapes/8.svg);">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h1>Articles disponibles</h1>
      </div>
    </div>
    </div>
</section>
</div>

<div class="d-flex justify-content-between">
{% for article in articles %}
<div class="example-wrapper justify-content-between " >
    <div class="row mt-2 align-items-center no-gutters">
      <div class="col-6 col-sm-6 col-md-6 m-auto col-lg-6 text-center shadow">
        <div class="bg-white pb-5 pt-5 pl-4 pr-4 rounded-left">
          <h2 class="font-weight-light"><strong>{{article.titre}}</strong></h2>
          <p class="h1 mt-2 mb-2">{{article.categorie}} </p>
          <img class="card-img-top" src={{article.image}}>  
          <p>{{article.contenu|raw}}</p>
          <h6>date de création: {{article.date_ajout|date("d/m/Y")}}</h6>
          <h6>dernière modification: {{article.date_modif|date("d/m/Y")}}</h6>
          <br>
          <div>
          <a href="{{path('modifier_article',{id:article.id})}}" class="btn btn-outline-dark ">Modifier</a>
          <a href="{{path('supprimer_article',{id:article.id})}}" class="btn btn-outline-dark">Supprimer</a>
          </div>
          <br>
          <a href="{{path('app_article_affichage',{slug:article.slug})}}" class="btn btn-sm btn-secondary">Afficher</a>
        </div>
      </div>    
    </div>
 </div> 

{% endfor %}
</div>
{% endblock %}